.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image {
  border: radius 1.5rem;
  overflow: hidden;
  position: relative;

}

.portfolio_item-image img {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}


.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.portfolio_item .overlay {
  opacity: 1;
}

.portfolio_item:hover .overlay {
  opacity: 0;
}

.text {
  color: var(--color-primary-variant);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*=======Media Queries(Medium)==========*/

@media screen and (max-width:1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*=======Media Queries(Small)==========*/

@media screen and (max-width:600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}